.bg-white-container-header {
	transition: background-color 0.8s, border-color 0.8s, color 0.8s;
	background-image: linear-gradient(rgb(66, 60, 60), #1C2949), linear-gradient(#1C2949, #1C2949);
	background-blend-mode: hard-light;
	animation: colorChange 10s infinite alternate;
}